/* Full-screen layout */
.auth-section {
    height: 100vh; /* Utilise toute la hauteur de la fenêtre */
    background: linear-gradient(135deg, #ffffff 0%, #f2f2f2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Header styling */
  header {
    background-color: rgb(241, 236, 236);; /* Couleur de fond pour le titre */
    height: 70px;
  }
  
  /* Auth Card Styling */
  .auth-card {
    width: 70%;
    max-width: 500px;
    border-radius: 20px; /* Modifié pour un coin moins prononcé */
    padding: 50px;
    background-color: rgb(241, 236, 236);
  }
  
  .auth-card .form-control {
    border-radius: 100px;
    padding: 10px;
  }
  
  .auth-card .btn {
    border-radius: 15px;
    font-size: 16px;
  }
  
  /* Text Colors and Links */
  .text-muted {
    color: #666 !important;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: #192745;
  }
  
  .card {
    margin: 8px;
  }
  
  .text-center {
    text-align: center;
    text-decoration: dotted;
  }
  
  .form-control {
    margin-left: 20px;
    width: 330px;
  }
  
  .form-label-left {
    margin-left: 30px;
  }
  
  .text-center-SignIn {
    text-align: center;
  }
  
  .form-label {
    margin-left: 30px;
  }
  
  .btn {
    margin-left: 30px;
  }
  
  .Noaccount {
    margin-left: 15px;
  }
  