<head>
    <title>Welcome to Campus Food</title>
    <link rel="stylesheet" href="inforamtion.component.css"> 
  </head>
  <body>
    

    <div class="auth-section">
        <div class="information-card">
            <h1>Informations sur CampusFood</h1>
            <p>CampusFood est une plateforme dédiée à améliorer l'expérience de restauration des étudiants sur les campus universitaires. Notre objectif est de fournir un service pratique et efficace, permettant aux étudiants de commander leurs repas en ligne, de gérer leurs réservations et de faire des paiements en toute simplicité.</p>
    
            <h2>Avantages de CampusFood</h2>
            <ul>
                <li>Commodité : Commandez vos repas à tout moment et de n'importe où.</li>
                <li>Gain de temps : Évitez les files d'attente en réservant à l'avance.</li>
                <li>Variété : Explorez un large choix de plats proposés par les restaurants universitaires.</li>
                <li>Simplification des paiements : Effectuez vos paiements en ligne de manière sécurisée.</li>
                <li>Avis d'étudiants : Consultez les avis d'autres étudiants pour faire le meilleur choix.</li>
            </ul>
    
            <footer>
                <p>&copy; 2024 CampusFood. Tous droits réservés.</p>
            </footer>
        </div>
    </div>
    
