<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripleCrownCars</title>
    <link rel="stylesheet" href="home-page.component.css">
    <link rel="stylesheet" href="">
</head>
<body class="body"> 

    <header>
        <h1>Welcome to CampusFood</h1>
    </header>

    <nav>
        <a href="#">Menu</a>
        <a href="#">Paiement</a>
        <a href="#">Réservation</a>
        <a href="#">commaintaire</a>
    </nav>

    <main>
        <video width="640" height="360" controls>
            <source src="images/restau4.mp4" type="video/mp4">
                Your browser does not support the video tag.
        </video>
        <br>
        <h2>CampusFood</h2>
        <p>
            CampusFood est une plateforme innovante dédiée à améliorer l'expérience<br> de restauration des étudiants sur les campus universitaires.<br>
            Notre mission est de fournir un service pratique et efficace, permettant<br> aux étudiants de commander leurs repas en ligne,<br>
            de gérer leurs réservations et de faire des paiements en toute simplicité.<br> Grâce à notre interface conviviale, vous pouvez explorer une variété de plats<br>
            proposés par les restaurants universitaires, consulter les avis des autres<br> étudiants et choisir le repas qui vous convient le mieux. Rejoignez-nous pour<br>
            savourer des plats délicieux tout en optimisant votre temps d'étude et de vie sur le campus.
            
        </p>
        <img src="images/photo1.jpg" alt="">
        <img src="images/photo2.jpg" alt="">
        <img src="images/photo3.webp" alt="">
        <img src="images/photo4.jfif" alt="">
        <img src="images/photo5.webp" alt="">
        <img src="images/photo6.jpg" alt="">
    </main>
    <footer>

    </footer>
